<div class="jumbotron">
  <h1>List of all authors</h1>
</div>

<img style="display: none;" src="https://loading.io/spinners/balls/lg.circle-slack-loading-icon.gif"/>

<div class="container autors">
  <% @autors.each do |autor| %>
  <!-- kazdy row ma zawsze 12 kolumn -->
    <%= render 'autor', autor: autor %>
  <% end %>
</div>


<hr />

<div class="col-md-2"><%= link_to 'new author', new_autor_path, role: 'button', class:'btn btn-success' %></div>

<hr />
<!-- forumlarze metodami pomocniczymu -->
<%=  form_for @autor, remote: true, html: { class: "new-autor" }  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <hr />
  <%= f.label :surname %>
  <%= f.text_field :surname %>
  <hr />
  <%= f.label :age %>
  <%= f.number_field :age %>
  <hr />
  <%= f.submit 'save' %>
<% end %>
