<div class="header-autors">
  <h1 class="text-center">List of all authors</h1>
</div>

<img style="display: none;" src="https://loading.io/spinners/balls/lg.circle-slack-loading-icon.gif"/>

<div class="container autors">
  <% @autors.each do |autor| %>
  <!-- kazdy row ma zawsze 12 kolumn -->
    <%= render 'autor', autor: autor %>
  <% end %>
</div>

<div class="text-center"><%= link_to 'Add new author', new_autor_path, role: 'button', class:'btn btn-outline-success' %></div>

<!-- forumlarze metodami pomocniczymu -->
<%=  form_for @autor, remote: true, html: { class: "new-autor" }  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :surname %>
  <%= f.text_field :surname %>
  <%= f.label :age %>
  <%= f.number_field :age %>
  <%= f.submit 'Save' %>
<% end %>

<% if @autor.errors.any? %>
  <ul>
    <% @autor.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
<% end %>
