<h1>
 <%= @autor.fullname %>
</h1>

<p>
  Age:
  <%= @autor.age%>
  <hr />
  Created at:
  <%= @autor.created_at%>
  <hr />
  Updated at:
  <%= @autor.updated_at%>
</p>
  <%= link_to 'Back to autors', autors_path%>
