<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
<% end %>

<!-- forumlarze metodami pomocniczymu -->
<%=  form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <hr />
  <%= f.label :content %>
  <%= f.text_area :content %>
  <hr />
  <%= f.label :autor_id %>
  <%= f.text_field :autor_id %>
  <hr />
  <%= f.submit 'save' %>
<% end %>
