<div class="header-posts text-center">
  <h1>All posts</h1>
</div>

<div class="container">
  <% @posts.each do |post| %>
  <div class="row" data-post-id="<%= post.id %>">
       <div class="col-md-8"><%= link_to post.post_title, post_path(id: post.id) %></div>
       <!-- <%= "treść: #{post.content} autor(id): #{post.autor_id}" %> -->
       <div class="col-md-3">
         <%= link_to 'Edit', edit_post_path(id: post.id), role: 'button', class:'btn btn-primary text-center' %>
         <%= link_to 'Delete', post_path(id: post.id), method: :delete, data: { confirm: 'Are you sure?' }, role: 'button', class:'btn btn-danger text-center' %>
      </div>
   </div>
 <% end %>
</div>

<div class="text-center"><%= link_to 'Add new post', new_post_path, role: 'button', class:'btn btn-outline-success' %></div>
