<div class="header-posts text-center">
  <h1>All posts</h1>
</div>

<div class="container">
  <% @posts.each do |post| %>
    <table class="posts-table table">
    <tbody>
      <tr>
         <td class="col-md-8"><%= link_to post.post_title, post_path(id: post.id) %></td>
         <!-- <%= "treść: #{post.content} autor(id): #{post.autor_id}" %> -->
         <td><%= link_to 'Edit', edit_post_path(id: post.id) %></td>
         <td><%= link_to 'Delete', post_path(id: post.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
     </tbody>
   </table>
 <% end %>
</div>

<div class="col-md-2"><%= link_to 'Add new post', new_post_path, role: 'button', class:'btn btn-outline-success' %></div>
