<h1 class="show-post text-center">
  Tytuł:
</h1>

<h2 class="post-title text-center">
  <%= @post.post_title %>
</h2>

<div class="info-post">
  <div class="content-label">
    Content:
    <p class="content-value"><%= @post.content%></p>
  </div>
  <hr />
  <div class="autor-label">
    Autor id:
    <p class="autor-value"><%= @post.autor_id%></p>
  </div>
  <hr />
  <div class="dates-label">
    Created at:
    <p class="dates-values"><%= @post.created_at%></p>
  </div>
  <hr />
  <div class="update-label">
    Updated at:
    <p class="update-post"><%= @post.updated_at%></p>
  </div>
  <%= link_to 'Back to all posts', posts_path, role: 'button', class:'btn btn-outline-success'%>
</div>
